torch==2.7.1
torch-geometric==2.6.1
torch_scatter==2.1.2

numpy==2.2.6
scipy==1.15.3
pandas==2.3.1

opencv-python==4.13.0.92
matplotlib==3.10.7
matplotlib-venn==1.1.2
Pillow==12.0.0

openai==1.97.1
requests==2.32.4
aiohttp==3.12.14

tqdm==4.67.1
pydantic==2.11.7
Jinja2==3.1.6
sympy==1.14.0
networkx==3.4.2